# Dependencies
node_modules/
dist/


# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Uploads and temp files
storage/**/
temp/

# Prisma
prisma/*.db
